/* Place your CSS styles in this file */

@font-face {
  font-family: 'CustomFont';
  src: url('./Font/Kamikaze.ttf') format('truetype');    
}
@font-face {
  font-family: 'CustomFont2';
src: url('./Font/Kamikaze3DGradient.ttf') format('truetype');
}
h1 {
    text-align: center;
    font-family: 'CustomFont', sans-serif;
    font-weight: normal;
}
p { text-align: center;
    font-family: 'CustomFont2', sans-serif;
    font-weight: normal;}
